.main-user-container {
  width: 513px;
  padding-top: 19px;
  padding-left: 30px;
  padding-right: 40px;
  background: #ffffff;

  .user-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .edit-button {
    background: #4b51ef;
    border-radius: 5px;
    width: 117px;
    height: 27px;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 25px;
  }

  .form-container {
    width: 445px;
    height: 530px;
    background: #ffffff;
    border: 1px solid #f3f3f3;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 12px;
    margin-bottom: 514px;
  }

  .form-button {
    width: 85px;
    height: 25px;
    background: #afafaf;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: 7px;
  }

  .active {
    background: #52cf4f;
  }

  .form-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    label {
      font-weight: 400;
      font-size: 14px;
      line-height: 9px;
      color: #000000;
      margin-bottom: 10px;
    }

    input {
      width: 211px;
      height: 22px;
      background: #ffffff;
      border: 1px solid #d8d8d8;
      box-sizing: border-box;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    textarea {
      width: 420px;
      height: 55px;
      background: #ffffff;
      border: 1px solid #d8d8d8;
      box-sizing: border-box;
      border-radius: 5px;
      resize: none;
    }
  }
}
